.hero {
	height: calc(100vh + #{$footer-curve-height});
	width: 100%;
	left: 0;
	top: 0;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	@include has('background') {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url("/assets/images/hero/hero-field.jpg") center center;
		background-size: cover;
		position: absolute;
		z-index: 1;
	}

	@include has('content') {
		position: relative;
		width: 90%;
		max-width: 500px;
		z-index: #{$overlay-index + 1};
		padding-bottom: $footer-curve-height;

		@include has('logo') {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.logo--text {
				font-size: 2.8rem;
				font-weight: 700;
				color: #fff;
				padding-right: 1.4rem;
				display: block;
				text-transform: capitalize;
			}

			img {
				display: block;
				max-width: 56px;
				height: 56px;
			}
		}

		@include has('search-container') {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 1rem .5rem;
			
			> * {
				width: 100%;
				height: 50px;
				margin: .4rem 0;
				background: #fff;
				border-radius: 25px;
			}
			
			.search-box {
				position: relative;
				color: #696969;

				&:before {
					@include icons8-font();
					position: absolute;
					display: inline-block;
					left: .8rem;
					top: 0;
					height: 100%;
					vertical-align: middle;
					line-height: 2;
					font-size: 1.6rem;
					color: #a7a7a7;
				}

				@include as('sport') {
					&:before {
						content: $icons8-var-whistle;
					}

					&:after {
						@include icons8-font();
						display: inline-block;
						position: absolute;
						height: 100%;
						vertical-align: middle;
						line-height: 2.7;
						content: $icons8-var-caret-arrowhead-facing-down;
						font-size: 1.2rem;
						right: 1rem;
						top: 0;
						color: currentColor;
						cursor: pointer;
					}
				}
				
				@include as('location') {
					&:before {
						content: $icons8-var-location-marker;
					}
				}
				
				> input {
					height: 97%;
					position: absolute;
					border: none;
					background: transparent;
					left: 0;
					top: 0;
					width: calc(100% - 5.6rem);
					margin: 0 2.8rem;
					outline: none;
					cursor: text;
					font-size: 1.2rem;
					font-weight: 600;
					color: currentColor;

					&::placeholder {
						color: #aeadad;
					}
					&::-moz-placeholder {
						color: #aeadad;
					}

					&::-webkit-input-placeholder {
						color: #aeadad;
					}
				}
			}
			
			.search-button {
				outline: none;
				position: relative;
				border: none;
				color: #eeffff;
				font-size: 1.3rem;
				font-family: inherit;
				font-weight: 600;
				cursor: pointer;

				&:before {
					@include icons8-font();
					position: absolute;
					display: inline-block;
					content: $icons8-var-search;
					left: .8rem;
					top: 0;
					height: 100%;
					vertical-align: middle;
					line-height: 2;
					font-size: 1.6rem;
				}
			}
		}

		@include has('tips') {
			margin: 1.5rem 0 0;

			p {
				font-size: 1.2rem;
				font-weight: 600;
				text-align: center;
				color: #fff;
			}
		}
	}
}