@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700);@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

@font-face {
  font-family: "Sport-Coach-Finder";
  src: url("/fonts/icons.eot");
  src: url("/fonts/icons.eot?#iefix") format("embedded-opentype"), url("/fonts/icons.woff2") format("woff2"), url("/fonts/icons.woff") format("woff"), url("/fonts/icons.ttf") format("truetype"), url("/fonts/icons.svg#Sport-Coach-Finder") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
@font-face {
    font-family: "Sport-Coach-Finder";
    src: url("/fonts/icons.svg#Sport-Coach-Finder") format("svg");
}
}

[data-icon]:before,
.icon-black-twitter-logo:before,
.icon-caret-arrowhead-facing-down:before,
.icon-checkmark:before,
.icon-circular-arrow:before,
.icon-close-button:before,
.icon-coach:before,
.icon-email-envelope:before,
.icon-facebook:before,
.icon-gender-neutral-user:before,
.icon-instagram:before,
.icon-left-arrow:before,
.icon-location-marker:before,
.icon-lock:before,
.icon-login:before,
.icon-personal-trainer:before,
.icon-personal-trainer-2:before,
.icon-phone:before,
.icon-plus:before,
.icon-search:before,
.icon-search-button:before,
.icon-wheelchair:before,
.icon-whistle:before {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

[data-icon]:before {
  content: attr(data-icon);
}

.icon-black-twitter-logo:before {
  content: "\F109";
}

.icon-caret-arrowhead-facing-down:before {
  content: "\F107";
}

.icon-checkmark:before {
  content: "\F111";
}

.icon-circular-arrow:before {
  content: "\F110";
}

.icon-close-button:before {
  content: "\F114";
}

.icon-coach:before {
  content: "\F100";
}

.icon-email-envelope:before {
  content: "\F10C";
}

.icon-facebook:before {
  content: "\F10A";
}

.icon-gender-neutral-user:before {
  content: "\F112";
}

.icon-instagram:before {
  content: "\F108";
}

.icon-left-arrow:before {
  content: "\F10B";
}

.icon-location-marker:before {
  content: "\F106";
}

.icon-lock:before {
  content: "\F10D";
}

.icon-login:before {
  content: "\F10E";
}

.icon-personal-trainer:before {
  content: "\F101";
}

.icon-personal-trainer-2:before {
  content: "\F102";
}

.icon-phone:before {
  content: "\F113";
}

.icon-plus:before {
  content: "\F10F";
}

.icon-search:before {
  content: "\F104";
}

.icon-search-button:before {
  content: "\F105";
}

.icon-wheelchair:before {
  content: "\F115";
}

.icon-whistle:before {
  content: "\F103";
}

.twitter:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F109";
}

.instagram:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F108";
}

.facebook:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F10A";
}

.google:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F118";
}

i.search-icon:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F104";
}

i.coach-icon:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F102";
}

i.back-icon:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F10B";
}

i.login-icon:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F10E";
}

i.plus-icon:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F10F";
}

i.reset-icon:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F110";
}

i.location-icon:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F106";
}

body {
  background: #f5f8fa;
  font-family: "Cabin", "San Francisco", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  overflow-x: hidden;
}

body > main {
  position: relative;
  min-height: 100vh;
}

body > main > section:last-of-type:not(.hero) {
  padding-bottom: 95px;
}

input {
  font-family: "Cabin", "San Francisco", "Helvetica Neue", sans-serif;
  border: none;
  outline: none;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: currentColor;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  position: relative;
  border: none;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.hidden,
[hidden] {
  display: none;
  visibility: hidden;
}

.rounded {
  border-radius: 12px;
}

/* Switchery styles. */

.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-clip: content-box;
}

.switchery > small {
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}

/* Switchery sizes. */

.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px;
}

.switchery-small > small {
  height: 20px;
  width: 20px;
}

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px;
}

.switchery-large > small {
  height: 40px;
  width: 40px;
}

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

.ui-navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
}

.ui-navigation-bar--transparent {
  background: transparent;
}

.ui-navigation-bar--main {
  position: relative;
  background: linear-gradient(166deg, #4A944E, #2E7D32);
  height: 100px;
  margin-bottom: 50px;
}

.ui-navigation-bar__container {
  max-width: 1440px;
  width: 100%;
  padding: 3.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-navigation-bar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-navigation-bar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-navigation-bar__link {
  padding: .8rem;
  background: none;
  margin: 0 .5rem;
  border-radius: 12px;
}

.ui-navigation-bar__link--dropdown {
  width: 35px;
  height: 35px;
}

.ui-navigation-bar__link--dropdown i {
  font-size: 1.8rem;
  left: .2rem;
  top: .2rem;
  position: relative;
  color: currentColor;
}

.ui-navigation-bar__link--no-padding {
  padding: 0 !important;
}

.ui-navigation-bar__search {
  padding: .8rem 1.4rem;
  margin: 0 1rem;
  border-radius: 2rem;
  min-width: 15rem;
  background: rgba(255, 255, 255, 0.165);
  position: relative;
  color: #eee;
}

.ui-navigation-bar__search input {
  width: calc(100% - 1rem);
  font-size: 1rem;
  background: transparent;
  color: #fff;
  font-weight: 600;
}

.ui-navigation-bar__search:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\F104";
  position: absolute;
  font-size: 1.25rem;
  color: currentColor;
  cursor: pointer;
}

.ui-navigation-bar__action {
  padding: .8rem 1.4rem;
  background: #2d7131;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-navigation-bar a {
  color: #eff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.ui-navigation-bar .nav-logo {
  width: 50px;
}

.hero {
  height: calc(100vh + 95px);
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__background {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("/assets/images/hero/clipboard-field.png") center center;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

.hero__content {
  position: relative;
  width: 90%;
  max-width: 500px;
  z-index: 10;
  padding-bottom: 95px;
}

.hero__content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content__logo .logo--text {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
  padding-right: 1.4rem;
  display: block;
  text-transform: capitalize;
}

.hero__content__logo img {
  display: block;
  max-width: 56px;
  height: 56px;
}

.hero__content__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem .5rem;
}

.hero__content__search-container > * {
  width: 100%;
  height: 50px;
  margin: .4rem 0;
  background: #fff;
  border-radius: 25px;
}

.hero__content__search-container .search-box {
  position: relative;
  color: #696969;
}

.hero__content__search-container .search-box:before {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: absolute;
  display: inline-block;
  left: .8rem;
  top: 0;
  height: 100%;
  vertical-align: middle;
  line-height: 2;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.hero__content__search-container .search-box--sport:before {
  content: "\F103";
}

.hero__content__search-container .search-box--sport:after {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  display: inline-block;
  position: absolute;
  height: 100%;
  vertical-align: middle;
  line-height: 2.7;
  content: "\F107";
  font-size: 1.2rem;
  right: 1rem;
  top: 0;
  color: currentColor;
  cursor: pointer;
}

.hero__content__search-container .search-box--location:before {
  content: "\F106";
}

.hero__content__search-container .search-box > input {
  height: 97%;
  position: absolute;
  border: none;
  background: transparent;
  left: 0;
  top: 0;
  width: calc(100% - 5.6rem);
  margin: 0 2.8rem;
  outline: none;
  cursor: text;
  font-size: 1.2rem;
  font-weight: 600;
  color: currentColor;
}

.hero__content__search-container .search-box > input::-webkit-input-placeholder {
  color: #aeadad;
}

.hero__content__search-container .search-box > input:-ms-input-placeholder {
  color: #aeadad;
}

.hero__content__search-container .search-box > input::-ms-input-placeholder {
  color: #aeadad;
}

.hero__content__search-container .search-box > input::placeholder {
  color: #aeadad;
}

.hero__content__search-container .search-box > input::-moz-placeholder {
  color: #aeadad;
}

.hero__content__search-container .search-box > input::-webkit-input-placeholder {
  color: #aeadad;
}

.hero__content__search-container .search-button {
  outline: none;
  position: relative;
  border: none;
  color: #eeffff;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.hero__content__search-container .search-button:before {
  display: inline-block;
  font-family: "Sport-Coach-Finder";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: absolute;
  display: inline-block;
  content: "\F104";
  left: .8rem;
  top: 0;
  height: 100%;
  vertical-align: middle;
  line-height: 2;
  font-size: 1.6rem;
}

.hero__content__tips {
  margin: 1.5rem 0 0;
}

.hero__content__tips p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.ui-footer {
  z-index: 998;
  width: 100vw;
  padding: 4rem 0 1rem;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#449151), color-stop(88%, #2a692d));
  background: linear-gradient(to bottom, #449151, #2a692d 88%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-footer__curve {
  position: absolute;
  width: 100%;
  height: 95px;
  top: -93px;
  left: 0;
}

.ui-footer__curve path {
  fill: #449151;
}

.ui-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  width: 100%;
}

.ui-footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eff;
  padding: 1rem 0 2.2rem;
}

.ui-footer__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0 1px 15px rgba(0, 0, 0, 0.27);
  min-width: 125px;
}

.ui-footer__connect > * {
  display: block;
  margin: .5rem 0;
}

.ui-footer__connect .ui-footer__logo img {
  max-width: 102px;
  max-height: 94px;
}

.ui-footer__socials {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ui-footer__socials a {
  display: block;
  text-decoration: none;
  color: currentColor;
  font-size: 1.75rem;
}

.ui-footer__related {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ui-footer__links {
  margin: 0 2.5rem;
}

.ui-footer__links__heading {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.ui-footer__links__list li {
  display: block;
  margin: 1.2rem 0;
}

.ui-footer__links__list li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  font-weight: 300;
}

.ui-footer__newsletter {
  width: 100%;
  max-width: 400px;
  margin: 0.1rem 0 2rem;
}

.ui-footer__newsletter__subscribe-container {
  width: 100%;
  position: relative;
  margin: 1.2rem 0;
}

.ui-footer__newsletter__subscribe-container input[type=email] {
  height: 40px;
  background: #28632c;
  border-radius: 2rem;
  color: #eee;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 8rem 0 1.5rem;
  width: calc(100% - 9.5rem);
}

.ui-footer__newsletter__subscribe-container input[type=email]::-webkit-input-placeholder {
  color: #ccc;
}

.ui-footer__newsletter__subscribe-container input[type=email]:-ms-input-placeholder {
  color: #ccc;
}

.ui-footer__newsletter__subscribe-container input[type=email]::-ms-input-placeholder {
  color: #ccc;
}

.ui-footer__newsletter__subscribe-container input[type=email]::placeholder {
  color: #ccc;
}

.ui-footer__newsletter__subscribe-container button {
  top: 0;
  right: 0;
  height: 100%;
  background: #eff;
  position: absolute;
  color: #2E7D32;
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  padding: 0 1.4rem;
  opacity: 1;
}

.ui-footer__newsletter__subscribe-container button[disabled] {
  opacity: .4;
  cursor: not-allowed;
}

.ui-footer__separator {
  width: 52%;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
}

.ui-footer__copyright {
  padding: 2.8rem 0;
  text-align: center;
  color: #e3e3e3;
  font-size: 1.1rem;
  font-weight: 500;
}

.apply-for-coach .apply-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
  color: #2E7D32;
}

.apply-for-coach .apply-heading i {
  font-size: 5.8rem;
  color: currentColor;
}

.apply-for-coach .apply-heading span {
  margin: 1rem 0;
  color: currentColor;
  font-weight: bold;
}

.primary-gradient {
  background: linear-gradient(110deg, #2E7D32, #50a946) !important;
}

.primary-gradient--reverse {
  background: linear-gradient(250deg, #2E7D32, #50a946) !important;
}

.primary-gradient--dimmed {
  background: linear-gradient(110deg, rgba(46, 125, 50, 0.3), rgba(80, 169, 70, 0.3)) !important;
}

.bg-white {
  background: #fff !important;
  color: #2E7D32 !important;
}

.overlay {
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.overlay--black {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(9, 9, 9, 0.7)), color-stop(70%, rgba(29, 29, 29, 0.6)));
  background: linear-gradient(to bottom right, rgba(9, 9, 9, 0.7), rgba(29, 29, 29, 0.6) 70%);
}

.shadowed {
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
}

