// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Cabin", "San Francisco", "Helvetica Neue", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$theme-primary: #2E7D32;
$theme-primary-light: #50a946;

$theme-footer-light: #449151;
$theme-footer-gradient: linear-gradient(to bottom, $theme-footer-light, #2a692d 88%);

$form-error-red: #fb5050;

// Widths & Heights
$footer-curve-height: 95px;
$container-width-large: 1440px;
$container-width-medium: 930px;
$container-width-small: 620px;

$admin-side-menu-width: 180px;

// Shadows
$standard-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);

// Indexes
$overlay-index: 9;
$navigation-bar-index: 999;