// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Cabin", "San Francisco", "Helvetica Neue", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$theme-primary: #2E7D32;
$theme-primary-light: #50a946;

// Shadows
$standard-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);

// Indexes
$overlay-index: 9;
$navigation-bar-index: 999;