// Fonts
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

// Reset
@import "reset";
@import "normalize";

// Variables
@import "variables";

body {
	background: $body-bg;
	font-family: $font-family-sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}