// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Sport-Coach-Finder";
$icons8-font-path: "/fonts";

$icons8-var-black-twitter-logo: "\f109";
$icons8-var-caret-arrowhead-facing-down: "\f107";
$icons8-var-checkmark: "\f111";
$icons8-var-circular-arrow: "\f110";
$icons8-var-close-button: "\f114";
$icons8-var-coach: "\f100";
$icons8-var-email-envelope: "\f10c";
$icons8-var-facebook: "\f10a";
$icons8-var-gender-neutral-user: "\f112";
$icons8-var-instagram: "\f108";
$icons8-var-left-arrow: "\f10b";
$icons8-var-location-marker: "\f106";
$icons8-var-lock: "\f10d";
$icons8-var-login: "\f10e";
$icons8-var-personal-trainer: "\f101";
$icons8-var-personal-trainer-2: "\f102";
$icons8-var-phone: "\f113";
$icons8-var-plus: "\f10f";
$icons8-var-search: "\f104";
$icons8-var-search-button: "\f105";
$icons8-var-wheelchair: "\f115";
$icons8-var-whistle: "\f103";
