@import "variables";
@import "core";
@import "path";
@import "icons";

.twitter:after {
	@include icons8-font();
	content: $icons8-var-black-twitter-logo;
}

.instagram:after {
	@include icons8-font();
	content: $icons8-var-instagram;
}

.facebook:after {
	@include icons8-font();
	content: $icons8-var-facebook;
}

.google:after {
	@include icons8-font();
	content: $icons8-var-google;
}

i.search-icon:after {
	@include icons8-font();
	content: $icons8-var-search;
}

i.coach-icon:after {
	@include icons8-font();
	content: $icons8-var-personal-trainer-2;
}

i.back-icon:after {
	@include icons8-font();
	content: $icons8-var-left-arrow;
}

i.login-icon:after {
	@include icons8-font();
	content: $icons8-var-login;
}

i.plus-icon:after {
	@include icons8-font();
	content: $icons8-var-plus;
}

i.reset-icon:after {
	@include icons8-font();
	content: $icons8-var-circular-arrow;
}

i.location-icon:after {
	@include icons8-font();
	content: $icons8-var-location-marker;
}

i.shutdown-icon:after {
	@include icons8-font();
	content: $icons8-var-shutdown;
}

i.dashboard-icon:after {
	@include icons8-font();
	content: $icons8-var-dashboard;
}

i.profile-icon:after {
	@include icons8-font();
	content: $icons8-var-identification-documents;
}

i.reviews-icon:after {
	@include icons8-font();
	content: $icons8-var-survey;
}

i.settings-icon:after {
	@include icons8-font();
	content: $icons8-var-settings-button;
}

i.help-icon:after {
	@include icons8-font();
	content: $icons8-var-help;
}

i.support-icon:after {
	@include icons8-font();
	content: $icons8-var-online-support;
}

i.users-icon:after {
	@include icons8-font();
	content: $icons8-var-user-group-man-man;
}

i.server-icon:after {
	@include icons8-font();
	content: $icons8-var-server;
}