@import "variables";
@import "core";
@import "path";
@import "icons";

.twitter:after {
	@include icons8-font();
	content: $icons8-var-black-twitter-logo;
}

.instagram:after {
	@include icons8-font();
	content: $icons8-var-instagram;
}

.facebook:after {
	@include icons8-font();
	content: $icons8-var-facebook;
}

i.search-icon:after {
	@include icons8-font();
	content: $icons8-var-search;
}

i.coach-icon:after {
	@include icons8-font();
	content: $icons8-var-personal-trainer-2;
}

i.back-icon:after {
	@include icons8-font();
	content: $icons8-var-left-arrow;
}

i.login-icon:after {
	@include icons8-font();
	content: $icons8-var-login;
}

i.plus-icon:after {
	@include icons8-font();
	content: $icons8-var-plus;
}